@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}

@layer normalize {
    dl li {
        list-style-type: none;
    }
}

@layer layout {
    body {
        margin: 0;
        display: flex;
        
        height: 100vh;
    }
}

@layer header {
    header {
        background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');
        color: white;

        min-width: 320px;
    }

    h1 {
        font-family: Norse-Bold;
    }

    header > div {
        display: flex;
        align-items: center;
    }
    
    header > div * {
        max-height: 8rem;
    }

    h1 {
        font-size: 6rem;
    }

    figcaption {
    }
}

@layer form {
    form dl {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr)
    }
}

@layer footer {
}