@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}

@layer header {
    header {
        background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');
        background-size: cover;
        color: white;

        min-width: 320px;
    }

    h1 {
        font-family: Norse-Bold;
    }

    header > div {
        display: flex;
        align-items: center;
    }
    
    header > div * {
        max-height: 8rem;
    }

    h1 {
        font-size: 6rem;
    }

    figcaption {
    }
}

@layer form {
    .input-items {
        display: grid;
        width: inherit;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr)
    }
}
