@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}

@layer palette {
    :root {
        --background-color-dark: #000;
        --surface-color-dark: rgba(0, 0, 0, 0.7);
        --primary-dark: blue;
        --secondary-color-dark: cyan;
        --on-background-dark: #fff;
        --on-surface-dark: #fff;
        --on-primary-dark: white;
        --on-secondary-dark: black;
    }
}

body {
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');
    color: var(--on-background-dark);
}

a {
    color: inherit;
}

@layer header {
    header {
        background-size: cover;
        color: white;

        min-width: 320px;
        display: flex;
        justify-self: center;
    }

    h1 {
        font-family: Norse-Bold;
    }

    header > div {
        display: flex;
        align-items: center;
    }
    
    header > div * {
        max-height: 8rem;
    }

    h1 {
        font-size: 6rem;
    }
}

@layer form {
    form {
        background-color: var(--surface-color-dark);
        color: var(--on-surface-dark);

        display: grid;
        align-self: center;
    }

    button {
        background-color: var(--secondary-color-dark) !important;
        color: var(--on-secondary-dark) !important;

        align-self: right;
    }

    .input-items {
        display: grid;
        width: inherit;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr)
    }
}

@layer layout {
    body {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        grid-column-start: 2;
        grid-row: 1 / 3;
        
        display: grid;
    }

    main section {
        align-self: center;
    }
}

@layer footer {
    footer {
        display: flex;
        align-self: end;
        justify-content: center;
    }
}